
.main{
    background-color: hsl(134,61,41,50%) ;
    border-bottom-left-radius: 7%;
    border-bottom-right-radius: 7%;
    margin-bottom: 20px;
    span{
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid;
        width: 100px;
        height: 100px;
        text-align: center;

    }
}

.formulario{
    Button {
        margin-right: 20px;
    }
}