.login_container{
    place-items: center center;
    height: 100vh;
}

.brand{
    font-family: 'Satisfy';
    color: rgb(0, 0, 0);
}

.login_form{
    max-width: 330px;
    border: #28A745 solid 3px;
    border-radius: 2em;
    
}
 
.bootstrap-logo{
    width: 72px;
    height: 72px;
}


