.cuerpo:hover{
    *{
        background-color: rgb(19, 167, 0);
        color: white;
        cursor: pointer;
    }
    
    
}

.imagenPrincipal{
    width: 175px;
    height: 175px;
}

.imagenSecundaria{
    width: 100px;
    height: 100px;
}

.cuerpo{
    color:black;
   
}